
/*Search box*/

.header-search-wrapper {
  margin: 10px 20px 40px 10px;
  width:calc(90% - 30px);
  height: 40px;
  display:inline-block;
  position:relative;
}
.header-search-wrapper i {
  position: absolute;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height: 32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

input.header-search-input {
  display: inline;
  padding: 8px 8px 8px 72px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 24px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}

input.header-search-input:hover {
  background: rgba(255, 255, 255, 0.5);
}

input.header-search-input:focus {
  color: #333;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important;
}

.header-search-wrapper-focus i {
  color: #444;
}

.header-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.search-out {
  display: none;
}

.search-out input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fff !important;
  box-shadow: none;
}

.search-out-text {
  border-bottom: 1px solid #fff !important;
}

.plans-container .collection {
  border: none;
}

.plans-container .collection .collection-item {
  border-bottom: none;
  text-align: center;
  font-size: 1.07rem;
  line-height: 1.6em;
}

.plans-container .collection .collection-item:before {
  font-size: 1.28rem;
  line-height: 1.6em;
  color: #009315;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  content: "\e623";
  margin-right: 10px;
}

.plans-container .card .card-image {
  position: relative;
  width: 100%;
}

.plans-container .card .card-image .card-title {
  position: relative;
  font-size: 1.28rem;
  line-height: 1.6em;
  text-align: center;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.1);
}

.plans-container .card .card-image .price {
  position: relative;
  font-size: 5rem;
  line-height: 1.6em;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.plans-container .card .card-image .price sup {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: -35px;
}

.plans-container .card .card-image .price sub {
  font-weight: 100;
  font-size: 1.42rem;
  line-height: 1.6em;
  top: 0;
}

.plans-container .card .card-image .price-desc {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}

.plans-container .card .card-content {
  padding: 0;
}


